#------------------------------------------------------------------------------
#                  GEOS-Chem Global Chemical Transport Model                  #
#------------------------------------------------------------------------------
#BOP
#
# !MODULE: definitions_a3mste.rc
#
# !DESCRIPTION: Resource file that defines the GEOS-5.7.2 A3mstE filename,
#  variables, and attributes for use with the ncCode* scripts.  Also defines
#  the names of the files where Fortran code will be written to.
#\\
#\\
# !REMARKS:
#  This file has been customized to generate GEOS-Chem Fortran code that
#  will read data from a GEOS-5.7.2 A3mstE met field file.
#
# !REVISION HISTORY:
#  01 Feb 2012 - R. Yantosca - Initial version
#------------------------------------------------------------------------------

### !FILENAME:
Fortran Read File       = a3mste_read.F
netCDF FileHandle       = fId
netCDF FileName         = GEOS572.YYYYMMDD.A3mstE.4x5.nc


### !DIMENSIONS:
lon                     = State_Grid%NZ
lat                     = State_Grid%NY
lev                     = State_Grid%NZ+1
time                    = 1


### !VARIABLES:
lon                     = REAL*4::lon
lon:long_name           = longitude
lon:units               = degrees_east
#-
lat                     = REAL*4::lat
lat:long_name           = latitude
lat:units               = degrees_north
#-
lev                     = REAL*4::lev
lev:long_name           = levels
lev:units               = unitless
#-
time                    = INTEGER::time
time:units              = minutes since YYYY-MM-DD 00:00:00.0
time:delta_t            = 0000-00-00 03:00:00
time:begin_date         = YYYYMMDD
time:begin_time         = 000000
time:time_increment     = 030000
#-
PFICU                   = REAL*4::lon,lat,lev.time
PFICU:long_name         = Downward flux of ice precipitation (convective)
PFICU:units             = kg m-2 s-1
PFICU:gamap_category    = GMAO-3D$
#-
PFILSAN                 = REAL*4::lon,lat,lev.time
PFILSAN:long_name       = Downward flux of ice precipitation (large scale + anvil)
PFILSAN:units           = kg m-2 s-1
PFILSAN:gamap_category  = GMAO-3D$
#-
PFLCU                   = REAL*4::lon,lat,lev.time
PFLCU:long_name         = Downward flux of liquid precipitation (convective)
PFLCU:units             = kg m-2 s-1
PFLCU:gamap_category    = GMAO-3D$
#-
PFLLSAN                 = REAL*4::lon,lat,lev.time
PFLLSAN:long_name       = Downward flux of liquid precipitation (large scale + anvil)
PFLLSAN:units           = kg m-2 s-1
PFLLSAN:gamap_category  = GMAO-3D$

#EOP
