#------------------------------------------------------------------------------
#                  Harvard-NASA Emissions Component (HEMCO)                   !
#------------------------------------------------------------------------------
#BOP
#
# !MODULE: HEMCO_sa_Config.rc
#
# !DESCRIPTION: Contains configuration information for the HEMCO standalone
#  model. You can define global settings here.
#\\
#\\
# !REMARKS:
#  See The HEMCO User's Guide for file details:
#    http://wiki.geos-chem.org/The_HEMCO_User%27s_Guide
#
#  For HEMCO standalone simulations, you can simply "drop in" an existing
#  HEMCO_Config.rc file from another model (e.g. GEOS-Chem), and those settings
#  will be activated.  This is done with the ">>>include HEMCO_Config.rc"
#  statement. Settings in HEMCO_sa_Config.rc will always override any settings
#  in the included HEMCO_Config.rc.
#
#  We recommend to use the emissions options in HEMCO_Config.rc (rather than
#  overriding them in HEMCO_sa_Config.rc) so that the standalone simulation
#  will provide the same emissions as would the corresponding model simulation.
#
# !REVISION HISTORY:
#  See https://github.com/geoschem/hemco for complete history
#EOP
#------------------------------------------------------------------------------
#BOC
###############################################################################
### BEGIN SECTION SETTINGS
###############################################################################
#-----------------------------------------------------
# Settings for HEMCO standalone input and output
#-----------------------------------------------------
ROOT:                {DATA_ROOT}/HEMCO
GridFile:            {GRID_FILE}
SpecFile:            HEMCO_sa_Spec.rc
TimeFile:            HEMCO_sa_Time.rc
DiagnFile:           HEMCO_Diagn.rc
Logfile:             HEMCO.log
#-----------------------------------------------------
# Settings for HEMCO grid
#-----------------------------------------------------
MET:                 {MET_NAME}
RES:                 {MET_RES}
#-----------------------------------------------------
# Settings for HEMCO standalone diagnostics
#-----------------------------------------------------
DefaultDiagnOn:      false
DefaultDiagnSname:   TOTAL_
DefaultDiagnLname:   HEMCO_total_emissions_
DefaultDiagnDim:     2
DefaultDiagnUnit:    kgm-2s-1
DiagnPrefix:         OutputDir/HEMCO_sa_diagnostics
DiagnFreq:           00000100 000000
#-----------------------------------------------------
# Debugging options
# (set verbose and warnings to 3 for maximum output)
#-----------------------------------------------------
Unit tolerance:      1
Negative values:     0
Verbose:             0
Warnings:            1
#-----------------------------------------------------
# Additional settings
#-----------------------------------------------------
PBL dry deposition:  False

### END SECTION SETTINGS ###

###############################################################################
### BEGIN SECTION EXTENSION SWITCHES
###############################################################################
### Set the below switches below to false and HEMCO extensions to off. They
### are only needed for GEOS-Chem simualations, but not for HEMCO standalone
### simulations. Turning off the extensions also avoids having to supply
### certain data fields for the extentions that usually are obtained directly
### from GEOS-Chem.
###############################################################################
# ExtNr ExtName           on/off  Species
0       Base                   : on    *
    --> CHEMISTRY_INPUT        :       false
    --> GC_RESTART             :       false
    --> STATE_PSC              :       false
    --> GC_BCs                 :       false
    --> UVALBEDO               :       false
    --> CCM_STRAT_Bry          :       false
    --> GMI_STRAT_OH           :       false
    --> GMI_PROD_LOSS          :       false
    --> UCX_PROD_LOSS          :       false
    --> OMOC_RATIO             :       false
    --> GMD_SFC_CH4            :       false
    --> CMIP6_SFC_CH4          :       false
    --> OLSON_LANDMAP          :       false
    --> YUAN_MODIS_LAI         :       false
    --> RRTMG                  :       false
    --> SfcVMR                 :       false
    --> OCEAN_O3_DRYDEP        :       false
# -----------------------------------------------------------------------------
102     ParaNOx                : off   NO/NO2/O3/HNO3
104     SoilNOx                : off   NO
120     Inorg_Iodine           : off   HOI/I2
### END SECTION EXTENSION SWITCHES ###

###############################################################################
### BEGIN SECTION BASE EMISSIONS
###############################################################################

# ExtNr Name sourceFile sourceVar sourceTime C/R/E SrcDim SrcUnit Species ScalIDs Cat Hier

#==============================================================================
# --- Drop in a "HEMCO_Config.rc" file here ---
#==============================================================================
>>>include HEMCO_Config.rc

### END SECTION BASE EMISSIONS ###

###############################################################################
### BEGIN SECTION SCALE FACTORS
###############################################################################

# ScalID Name sourceFile sourceVar sourceTime C/R/E SrcDim SrcUnit Oper

### END SECTION SCALE FACTORS ###

###############################################################################
### BEGIN SECTION MASKS
###############################################################################

# ScalID Name sourceFile sourceVar sourceTime C/R/E SrcDim SrcUnit Oper Lon1/Lat1/Lon2/Lat2
### END SECTION MASKS ###

### END OF HEMCO INPUT FILE ###
#EOC
