#------------------------------------------------------------------------------
#     NASA/GSFC, Global Modeling and Assimilation Office, Code 910.1 and      !
#          Harvard University Atmospheric Chemistry Modeling Group            !
#------------------------------------------------------------------------------
#
# !DESCRIPTION: Resource file for the GEOSCHEMchem Grid Component.
#
# !REVISION HISTORY:
#  06 Oct 2009 - P. Le Sager - Initial
#  06 Dec 2009 - da Silva    - Converted from NAMELIST to ESMF Config
#  13 Apr 2010 - R. Yantosca - Added dimension info and tracer names
#------------------------------------------------------------------------------

#
# %%% Start date/time %%%
#
UTC_START_DATE:       20080701
UTC_START_TIME:       000000

#
# %%% End date/time %%%
#
UTC_END_DATE:         20080701
UTC_END_TIME:         060000

#
# %%% Timesteps [min] %%%
#
DYNAMICS_TIMESTEP:   30
CHEMISTRY_TIMESTEP:  60

#
# %%% Dimension information %%%
#
N_AER:                5
N_DUST:               7
N_MEMBERS:           10
N_RH:                 5
N_SOA_HC              6
N_SOA_PROD            3
N_TRACERS:           54

#
# %%% Chemistry options %%%
#
USE_CHEMISTRY:        T         # LCHEM
USE_DRYDEP:           T         # LDRYD
USE_WETDEP:           T         # LWETD
USE_DEBUG_PRINT:      T         # Print out diagnostic output at test box

#
# %%% Emissions options %%%
#
USE_EMISSIONS:        F         # LEMIS
USE_ANTHRO:           T         # LANTHRO
USE_ANTHRO_BRAVO:     T         # LBRAVO
USE_ANTHRO_CAC:       T         # LCAC
USE_ANTHRO_EDGAR:     T         # LEDGAR
USE_ANTHRO_EPA:       T         # LNEI99
USE_ANTHRO_VISTAS:    T         # LVISTAS
USE_ANTHRO_EMEP:      T         # LEMEP
USE_BIOMASS:          T         # LBIOMASS     
USE_BIOMASS_GFED2:    T         # LGFED2BB
USE_BIOGENIC:         T         # LBIOGENIC
USE_DEAD_DUST:        T         # LDEAD
USE_NOx_AIRCRAFT:     T         # LAIRNOX
USE_NOx_LIGHTNING:    T         # LLIGHTNOX
USE_NOx_SOIL:         T         # LSOILNOX
USE_SHIP_ARCTAS:      T         # LARCSHIP

#
# %%% Aerosol options %%%
#
USE_CARBON_AEROSOLS:  T         # LCARB
USE_DUST_AEROSOLS:    T         # LDUST
USE_SEC_ORG_AEROSOLS: T         # LSOA
USE_SEASALT_AEROSOLS: T         # LSSALT
USE_SULFATE_AEROSOLS: T         # LSULF

#
# %%% Dynamics options (not implemented) %%%
#
USE_CONVECTION:       F         # LCONV
USE_PBL_MIXING:       F         # LTURB

#
# %%% Log file names for redirecting stdout %%%
#
STDOUT_LOGFILE:       PET%%%%%.GEOSCHEMchem.log
STDOUT_LOGLUN:        700

#
# %%% Tracer names (use commas) %%%
#
# NOTE: ESMF_ConfigGetAttribute cannot return a character array.  Therefore we
# read in comma-separated strings with tags "TRACER_NAME1:", "TRACER_NAME2:",
# "TRACER_NAME3:", "TRACER_NAME4:" and then concatenate them into a long
# string in the code.
#
TRACER_NAME1: NOx,Ox,PAN,CO,ALK4,ISOP,HNO3,H2O2,ACET,MEK,ALD2,RCHO,MVK,MACR,
TRACER_NAME2: PMN,PPN,R4N2,PRPE,C3H8,CH2O,C2H6,N2O5,HNO4,MP,DMS,SO2,SO4,SO4s,
TRACER_NAME3: MSA,NH3,NH4,NIT,NITs,BCPI,OCPI,BCPO,OCPO,ALPH,LIMO,ALCO,SOG1,
TRACER_NAME4: SOG2,SOG3,SOG4,SOA1,SOA2,SOA3,SOA4,DST1,DST2,DST3,DST4,SALA,SALC

#
# Emission ID tracer flags (needed by calcrate.F)
# should the following be automatically generated?
# Index of tracer numbers in the EMISRR, BIOFUEL, BIOMASS arrays 
#
ID_EMISSION:1 4 18 19 5 21 9 10 11 20 2 7 6 


